version: ~> 1.0
os: linux
dist: xenial   # required for Python >= 3.7
language: python
python:
 - "3.6"
 - "3.7"
 - "3.8"
 - "nightly"
install:
 - pip install -r requirements.txt
 - pip install mypy
 - pip install coverage
 - pip install pylint
script:
 - mypy primes.py binary_search.py --strict
 - python test.py
 - coverage run --include=primes.py,test.py,binary_search.py test.py && coverage report -m --fail-under=100 --rcfile=coveragerc
 - python speed_test.py --all
 - python speed_test.py --fermat 6
 - pylint primes.py binary_search.py
